h1 {
  font-size: 50px;
  font-family: monospace;
  letter-spacing: 15px;
}

  body {
      background-color: cyan;
      padding: 0;
      margin: 0;
    }

  div {
    background-color: purple;
    margin: 20px;
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    line-height: 200px;
    color: white;
}

  #dos {
    background-color: navy;
    font-size: 50px;
    color: gold;
}

  #tres {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: dashed pink 5px;
  }

  #cuatro {
    border-radius: 0px 150px 0 150px;
    background-color: #99FF00;
    color: magenta;
  }

  #cinco {
    border-radius: 20px 100px 20px 100px;
    background-color: #EE0000;
    color: black;
  }

  #seis {
    border-radius: 185px 100px 185px 100px;
  }
